*, *::before, *::after {
  box-sizing: border-box;
}
body {
  background: #000;
  color: #B2CDDE;
  font-family: courier new;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  position: relative;
}
@media (orientation: landscape) {

}
@media (orientation: portrait) {

}
main {
  /* background-color: #000; */

  background-image: url(kq1_sms.png);
  background-size: 8000px 3200px;
  background-position: -36px -26px;
  /* (995 gaps horiz)
  -1032
  -2027
  -3022

  Down: (529 gaps vert)
  -555
  -1084

  */
  clip: rect(0px,960px,503px,0px);

  top: 50vh;
  left: 50vw;
  width: 960px;
  height: 627px;
  position: absolute;
  overflow: hidden;
  transform: scale3d(var(--scale-x), var(--scale-y), 1)  translate(-50%, -50%);
  transform-origin: 0 0;
}
main * {
  position: absolute;
}

x-ego {
  --sprite-width: 50px;
  --sprite-height: 50px;
}
