*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}
body {
  background: #000;
  color: #B2CDDE;
  font-size: 24px;
  font-family: courier new;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  position: relative;
  cursor: crosshair;
}
span {
  display: inline-block;
}
@media (orientation: landscape) {

}
@media (orientation: portrait) {

}
#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  display: none;
}
#status {
	background-color: #fff;
	color: #000;
	font-weight: bold;
	height: 27px;
}
#sentence {
  width: 960px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  color: white;
  background-color: black;
}
#controls {
  background-color: black;
  width: 960px;
  height: 82px;
  z-index: 1;
}
#controls span:hover, #itemlist div:hover {
  color: hsl(210, 100%, 40%);
  text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
}
#controls div {
  float: left;
}
.arrows {
  width: 42px;
}
.arrows span {
  font-size: 40px;
  height: 80px;
  width: 40px;
  line-height: 90px;
  text-align: center;
  background-color: #2d2022;
  margin: 1px;
}
#items {
  width: 463px;
  height: 82px;
  background-color: #2d2022;;
  margin: 1px;
  overflow: hidden;
  position: relative;
}
#itemlist {
  position: absolute;
  left: 0px;
  padding: 5px 4px 2px 12px;
  width: 2000px;
  transition: left 100ms ease-in-out;
}
#itemlist span {
  background-color: #2d2022;
  width: 75px;
  margin: 1px;
  height: 80px;
  text-align: center;
  line-height: 75px;
  font-size: 40px;
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
}
#commands {
  width: 410px;
  font-size: 0px;
  /* Noto Color Emoji requires installation, so not suitable for js13kgames */
  /* Segoe UI Emoji is Windows font used for emojis */
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
  /* font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; */
  /* font-family: "Segoe UI Emoji"; */
}
#commands span {
  background-color: #2d2022;
  width: 80px;
  margin: 1px;
  height: 80px;
  text-align: center;
  line-height: 75px;
  font-size: 40px;
}
#wrap {
  /* background-color: #000; */

  background-image: url(kq1_sms.png);
  background-size: 8025px 3090px;
  background-position: -38px 1px;
  
  /* (995 gaps horiz)
  -1032
  -2027
  -3022

  Down: (529 gaps vert)
  -555
  -1084

  */
  /* clip: rect(0px,960px,503px,0px); */
  top: 50vh;
  left: 50vw;
  width: 960px;
  height: 627px;
  position: absolute;
  overflow: hidden;
  transform: scale3d(var(--scale-x), var(--scale-y), 1)  translate(-50%, -50%);
  transform-origin: 0 0;
}
#screen {
  position: relative;
  height: 485px;
  z-index: -2;
  width: 1920px;
}
#screen * {
  position: absolute;
}
x-ego {

}
x-sprite canvas {
  width: 100%;
  height: 100%;
}
