*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}
body {
  background: #000;
  color: #B2CDDE;
  font-size: 24px;
  font-family: courier new;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  position: relative;
  cursor: crosshair;
}
span {
  display: inline-block;
}
@media (orientation: landscape) {

}
@media (orientation: portrait) {

}
#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  display: none;
}
#status {
	background-color: #fff;
	color: #000;
	font-weight: bold;
	height: 27px;
}
#sentence {
  width: 960px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  color: white;
  background-color: black;
}
#controls {
  background-color: black;
  width: 960px;
  height: 82px;
  z-index: 1;
}
#controls span:hover, #itemlist div:hover {
  color: hsl(210, 100%, 40%);
  text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
}
#controls div {
  float: left;
}
.arrows {
  width: 42px;
}
.arrows span {
  font-size: 40px;
  height: 80px;
  width: 40px;
  line-height: 90px;
  text-align: center;
  background-color: #2d2022;
  margin: 1px;
}
#items {
  width: 463px;
  height: 82px;
  background-color: #2d2022;;
  margin: 1px;
  overflow: hidden;
  position: relative;
}
#itemlist {
  position: absolute;
  left: 0px;
  padding: 5px 4px 2px 0px;
  width: 2000px;
  transition: left 100ms ease-in-out;
}
#itemlist span {
  background-color: #2d2022;
  width: 75px;
  margin: 1px;
  height: 80px;
  text-align: center;
  line-height: 75px;
  font-size: 40px;
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
}
#commands {
  width: 410px;
  font-size: 0px;
  /* Noto Color Emoji requires installation, so not suitable for js13kgames */
  /* Segoe UI Emoji is Windows font used for emojis */
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
  /* font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; */
  /* font-family: "Segoe UI Emoji"; */
}
#commands span {
  background-color: #2d2022;
  width: 80px;
  margin: 1px;
  height: 80px;
  text-align: center;
  line-height: 75px;
  font-size: 40px;
}
#wrap {
  background-color: #31da81;

  background: linear-gradient(#265D96,#B2CDDE, #B2CDDE 5% 5%, #31da81 5% 100%);

  background-image: url(kq1_sms.png);
  background-size: 8025px 3090px;
  background-position: -38px 1px;  /* room 31 */

  top: 50vh;
  left: 50vw;
  width: 960px;
  height: 627px;
  position: absolute;
  overflow: hidden;
  transform: scale3d(var(--scale-x), var(--scale-y), 1)  translate(-50%, -50%);
  transform-origin: 0 0;
  opacity: 0;
}
#screen {
  position: relative;
  height: 485px;
  z-index: -2;
  width: 1920px;
}
#screen * {
  position: absolute;
}
x-ego {
  transform: rotateY(0deg);
}
x-shadow {
  --shadow-width: var(--sprite-width);
  --shadow-height: calc(var(--sprite-width)/2/3);
  position: absolute;
  bottom: calc(var(--shadow-height)/-2);
  left: 0px;
  width: var(--shadow-width);
  height: var(--shadow-height);
  background: #000;
  border-radius: 50%;
  opacity: 0.5;
  filter: blur(1.2px);
  z-index: 0;
}
x-sprite canvas {
  width: 100%;
  height: 100%;
}
.dark {
  filter: brightness(0.4) saturate(3);
}
.light {
  filter: brightness(1.3) saturate(1.5);
}

.actor {
  width: 100%;
  height: 100%;
  z-index: 2000;
}
.head {
  border-radius: 50%;
  background: linear-gradient(grey 16px, black 16px 19px, white 19px);
  width: 42px;
  height: 42px;
  top: 7px;
  left: 4px;
  border: solid 3px black;
}
.head:after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: grey;
  position: absolute;
  border-radius: 50%;
  border: solid 3px black;
  top: -9px;
  left: 12px;
  z-index: -1;
}
.body {
  position: relative;
  border-bottom: 86px solid black;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 50px;
  top: 47px;
}
.body:after {
  content: "";
  position: absolute;
  border-bottom: 81px solid grey;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  height: 0;
  width: 42px;
  top: 3px;
  left: -11px;
}
.facing1 .body {
  width: 35px;
  border-right-width: 0px;
}
.facing1 .body:after {
  width: 27.5px;
  border-right-width: 0px;
}
.facing2 .body {
  width: 35px;
  left: 15px;
  border-left-width: 0px;
}
.facing2 .body:after {
  width: 27.5px;
  left: 3.5px;
  border-left-width: 0px;
}
.feet {
  top: 114px;
  height: 20px;
  z-index: -1;
}
.feet:before {
  content: "";
  width: 3.5px;
  height: 20px;
  background-color: black;
  position: absolute;
  bottom: -5px;
  left: 15px;
  animation: feet 0.3s ease-out infinite alternate-reverse;
  animation-play-state: paused;
}
.feet:after {
  content: "";
  width: 3.5px;
  height: 20px;
  background-color: black;
  position: absolute;
  bottom: -5px;
  left: 31.5px;
  animation: feet 0.3s ease-out infinite alternate;
  animation-play-state: paused;
}
.walking .feet:before, .walking .feet:after {
  animation-play-state: running;
}
@keyframes feet {
  0% {
    bottom: -5px;
  }
  90% {
    bottom: -15px;
  }
  100% {
    bottom: -15px;
  }
}
.pack {
  width: 40px;
  height: 44px;
  background-color: red;
  top: 51px;
  left: 5px;
  border: solid 3px black;
  z-index: -1;
}
.facing2 .pack {
  width: 20px;
} 
.facing1 .pack {
  width: 20px;
  left: 25px;
}
.facing3 .pack {
  z-index: 0;
}

.bubble {
  font-size: smaller;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  padding: 15px;
  color: black;
  background: white;
  border-radius: 20px;
  bottom: 170px;
  border: 2px solid black;
  box-shadow: 6px 3px black;
}
.speech:before {
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  top: -29px;
  left: 9px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  background-color: white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 5px 1px black;
}